<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="All Business List" blockClass="table-border-style">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control p-3 search-form-control" placeholder="Type to search" [(ngModel)]="data">
                    </div>
                </div>
                <div class="col-lg-4 select-box-bg">
                    Business's per Page:
                    <select (change)="handlePageSizeChange($event)" class="select-box-tophead">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Business Name</th>
                            <th>Contact No.</th>
                            <th>City Name</th>
                            <th>Business Type Name</th>
                            <th>Settlement Rate</th>
                            <th>Paylater Payment Limit</th>
                            <th>Other Payment Limit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let business of businessList | filter: data | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{business.business_name}}</td>
                            <td>{{business.phone}}</td>
                            <td>{{business.city_name}}</td>
                            <td>{{business.business_type_name}}</td>
                            <td>{{business.settlement_rate}}</td>
                            <td>{{business.paylater_payment_limit}}</td>
                            <td>{{business.other_payment_limit}}</td>
                            <td>
                                <a routerLink="/fablofood/businessdetails/{{business._id}}"><button type="button" class="btn btn-outline-info"><i class="feather icon-info"></i> Info</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center"></pagination-controls>
            </div>
        </app-card>
    </div>

</div>