<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add Work Experience" (options)="false">
            <div class="row">
                <div class="col-md-6">
                    <form [formGroup]="workExpForm" (ngSubmit)="saveWorkExp()" action="javascript:">
                        <div class="form-group">
                            <label for="name">Year's of Experience</label>
                            <input type="text" class="form-control" id="name" formControlName="name" name="name" placeholder="Enter Year's of Experience">
                            <div *ngIf="f.name.touched && f.name.invalid" class="text-danger mt-2">
                                <div *ngIf="f.name.errors && f.name.errors.required">Year's of Experience is required.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!workExpForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="Work Experience List" blockClass="table-border-style">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control p-3 search-form-control" placeholder="Type to search" [(ngModel)]="data">
                    </div>
                </div>
                <div class="col-lg-4 select-box-bg">
                    Work Experience per Page:
                    <select (change)="handlePageSizeChange($event)" class="select-box-tophead">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Year's of Experience</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let workExp of workExpList | filter: data | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{workExp.name}} Yr.</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center"></pagination-controls>
            </div>
        </app-card>
    </div>
</div>