<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add Designation" (options)="false">
            <div class="row">
                <div class="col-md-6">
                    <form [formGroup]="designationForm" (ngSubmit)="saveDesignation()" action="javascript:">
                        <div class="form-group">
                            <label for="name">Designation</label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter Designation">
                            <div *ngIf="f.name.touched && f.name.invalid" class="text-danger mt-2">
                                <div *ngIf="f.name.errors && f.name.errors.required">Designation is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" class="form-control" id="code" name="code" formControlName="code" placeholder="Enter Code">
                            <div *ngIf="f.code.touched && f.code.invalid" class="text-danger mt-2">
                                <div *ngIf="f.code.errors && f.code.errors.required">Code is required.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!designationForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="Designation List" blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Designation</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let designation of designationList">
                            <td>1</td>
                            <td>{{designation.name}}</td>
                            <td>{{designation.code}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>