<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add Education" (options)="false">
            <div class="row">
                <div class="col-md-6">
                    <form [formGroup]="educationForm" (ngSubmit)="saveEducation()" action="javascript:">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter Name">
                            <div *ngIf="f.name.touched && f.name.invalid" class="text-danger mt-2">
                                <div *ngIf="f.name.errors && f.name.errors.required">Name is required.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!educationForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="Education List" blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let edu of educationList">
                            <td>1</td>
                            <td>{{edu.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>