<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-header">
                <div class="page-header-title">
                    <h4>Business Details</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">

        <div class="row">

            <div class="col-lg-6">

                <div class="card card-border-primary h-100">
                    <div class="card-header">
                        <h4 class="size-20 m-0">Basic Details</h4>
                    </div>

                    <div class="card-block">
                        <div class="row">

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Business Name</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled ">
                                    <li class="size-16">: {{businessDetail.business_name}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Contact Number</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.phone}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>City Name</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.city_name}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Business Type Name</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.business_type_name}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Category Name</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.category_english}} ( {{businessDetail.category_hindi}} )</li>
                                </ul>
                            </div>


                        </div>


                    </div>

                    <!-- <div class="card-footer">
                       
                    </div> -->

                </div>


            </div>


            <div class="col-lg-6 mt-4 mt-lg-0">

                <div class="card card-border-primary h-100">
                    <div class="card-header">
                        <h4 class="size-20 m-0"> Payment Details</h4>
                    </div>

                    <div class="card-block">
                        <div class="row">

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Settlement Rate</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled ">
                                    <li class="size-16">: {{businessDetail.settlement_rate}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Paylater Payment Limit</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.paylater_payment_limit}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Other Payment Limit</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.other_payment_limit}}</li>
                                </ul>
                            </div>


                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Settlement Type</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.settlement_type}}</li>
                                </ul>
                            </div>


                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Wallet Amount</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.wallet}}</li>
                                </ul>
                            </div>


                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Credit Score</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.credit}}</li>
                                </ul>
                            </div>



                        </div>



                    </div>

                    <!-- <div class="card-footer">
                       
                    </div> -->

                </div>


            </div>


            <div class="col-lg-6 mt-4">

                <div class="card card-border-primary h-100">
                    <div class="card-header">
                        <h4 class="size-20 m-0"> Other Details</h4>
                    </div>

                    <div class="card-block">
                        <div class="row">

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Agent Code</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled ">
                                    <li class="size-16" *ngIf="!businessDetail.agent_code">: Not Available</li>
                                    <li class="size-16" *ngIf="businessDetail.agent_code">: {{businessDetail.agent_code}}
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>QR</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">

                                    <li class="size-16" *ngIf="businessDetail.qr"><img class="d-block w-70 border-e1" src="{{businessDetail.qr}}" alt="qrimage" height="100px" width="100px"></li>
                                    <li class="size-16" *ngIf="!businessDetail.qr"><img class="d-block w-70 border-e1" src="../../../../../assets/images/qr/notAvailable.jpg" alt="qrimage" height="100px" width="100px"></li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Kyc</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16" *ngIf="businessDetail.kyc_status == 0">: Not Submitted</li>
                                    <li class="size-16" *ngIf="businessDetail.kyc_status == 1">: Approved</li>
                                    <li class="size-16" *ngIf="businessDetail.kyc_status == 2">: Pending</li>
                                    <li class="size-16" *ngIf="businessDetail.kyc_status == 3">: Rejected</li>
                                    <li class="size-16" *ngIf="businessDetail.kyc_status == 4">: Blocked</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Listed</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16" *ngIf="businessDetail.listed == 0">: Not Visible to User's</li>
                                    <li class="size-16" *ngIf="businessDetail.listed == 1">: Visible to User's</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Stage</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{businessDetail.stage}}</li>
                                </ul>
                            </div>


                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Blocked</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16" *ngIf="businessDetail.blocked == 0">: Unblock</li>
                                    <li class="size-16" *ngIf="businessDetail.blocked == 1">: Blocked</li>
                                </ul>
                            </div>

                        </div>



                    </div>

                    <!-- <div class="card-footer">
                       
                    </div> -->

                </div>


            </div>


            <div class="col-lg-6 mt-4" *ngFor="let stores of storesDetail">

                <div class="card card-border-primary h-100">
                    <div class="card-header">
                        <h4 class="size-20 m-0">Store Details</h4>
                    </div>

                    <div class="card-block">
                        <div class="row">

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Availability</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled ">
                                    <li class="size-16" *ngIf="stores.status == 0">: Not Available</li>
                                    <li class="size-16" *ngIf="stores.status == 1">: Available</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Status</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16" *ngIf="stores.status == 0">: Pending</li>
                                    <li class="size-16" *ngIf="stores.status == 1">: Approve</li>
                                    <li class="size-16" *ngIf="stores.status == 2">: Rejected</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Locality</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{stores.locality}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Store Username</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{stores.storeUsername}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Phone</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{stores.phone}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Store Name</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{stores.store_name}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>City Name</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{stores.city_name}}</li>
                                </ul>
                            </div>

                            <div class="col-sm-5">
                                <ul class="list list-unstyled">
                                    <li class="size-16"><b>Category</b></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list list-unstyled">
                                    <li class="size-16">: {{stores.category_english}}( {{stores.category_hindi}} )</li>
                                </ul>
                            </div>



                        </div>


                    </div>

                    <!-- <div class="card-footer">
                       
                    </div> -->

                </div>


            </div>




        </div>

        <!-- <p class="mt-4"><b>Basic Details</b></p>

        <hr />

        
        <dl class="dl-horizontal row">
            <dt class="col-sm-4">Business Name</dt>
            <dd class="col-sm-8">{{businessDetail.business_name}}</dd>

            <dt class="col-sm-4">Contact Number</dt>
            <dd class="col-sm-8">{{businessDetail.phone}}</dd>

            <dt class="col-sm-4">City Name</dt>
            <dd class="col-sm-8">{{businessDetail.city_name}}</dd>

            <dt class="col-sm-4">Business Type Name</dt>
            <dd class="col-sm-8">{{businessDetail.business_type_name}}</dd>

        </dl>

            <dl class="dl-horizontal row">
                <dt class="col-sm-4">Business Name</dt>
                <dd class="col-sm-8">{{businessDetail.business_name}}</dd>

                <dt class="col-sm-4">Contact Number</dt>
                <dd class="col-sm-8">{{businessDetail.phone}}</dd>

                <dt class="col-sm-4">City Name</dt>
                <dd class="col-sm-8">{{businessDetail.city_name}}</dd>

                <dt class="col-sm-4">Business Type Name</dt>
                <dd class="col-sm-8">{{businessDetail.business_type_name}}</dd>

                <dt class="col-sm-4">Settlement Rate</dt>
                <dd class="col-sm-8">{{businessDetail.settlement_rate}}</dd>

                <dt class="col-sm-4">Paylater Payment Limit</dt>
                <dd class="col-sm-8">{{businessDetail.paylater_payment_limit}}</dd>

                <dt class="col-sm-4">Other Payment Limit</dt>
                <dd class="col-sm-8">{{businessDetail.other_payment_limit}}</dd>

                <dt class="col-sm-4">Category Name</dt>
                <dd class="col-sm-8">{{businessDetail.category_english}} ({{businessDetail.category_hindi}} in Hindi)</dd>

                <dt class="col-sm-4">Settlement Type</dt>
                <dd class="col-sm-8">{{businessDetail.settlement_type}}</dd>

                <dt class="col-sm-4">Wallet Amount</dt>
                <dd class="col-sm-8">{{businessDetail.wallet}}</dd>

                <dt class="col-sm-4">Credit Score</dt>
                <dd class="col-sm-8">{{businessDetail.credit}}</dd>

                <dt class="col-sm-4">Agent Code</dt>
                <dd class="col-sm-8" *ngIf="!businessDetail.agent_code">Not Available</dd>
                <dd class="col-sm-8" *ngIf="businessDetail.agent_code">{{businessDetail.agent_code}}</dd>

                <dt class="col-sm-4">QR</dt>
                <dd class="col-sm-8"><img class="d-block w-70" src="{{businessDetail.qr}}" alt="qrimage" height="100px" width="100px"></dd>

                <dt class="col-sm-4">Kyc</dt>
                <dd class="col-sm-8" *ngIf="businessDetail.kyc_status == 0">Not Submitted</dd>
                <dd class="col-sm-8" *ngIf="businessDetail.kyc_status == 1">Approved</dd>
                <dd class="col-sm-8" *ngIf="businessDetail.kyc_status == 2">Pending</dd>
                <dd class="col-sm-8" *ngIf="businessDetail.kyc_status == 3">Rejected</dd>
                <dd class="col-sm-8" *ngIf="businessDetail.kyc_status == 4">Blocked</dd>

                <dt class="col-sm-4">Listed</dt>
                <dd class="col-sm-8" *ngIf="businessDetail.listed == 0">Not Visible to User's</dd>
                <dd class="col-sm-8" *ngIf="businessDetail.listed == 1">Visible to User's</dd>

                <dt class="col-sm-4">Stage</dt>
                <dd class="col-sm-8">{{businessDetail.stage}}</dd>

                <dt class="col-sm-4">Blocked</dt>
                <dd class="col-sm-8" *ngIf="businessDetail.blocked == 0">Unblock</dd>
                <dd class="col-sm-8" *ngIf="businessDetail.blocked == 1">Blocked</dd>


            </dl> -->

    </div>
</div>