<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add Department" (options)="false">
            <div class="row">
                <div class="col-md-6">
                    <form [formGroup]="departmentForm" (ngSubmit)="saveDepartment()" action="javascript:">
                        <div class="form-group">
                            <label for="name">Department</label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter Department">
                            <div *ngIf="f.name.touched && f.name.invalid" class="text-danger mt-2">
                                <div *ngIf="f.name.errors && f.name.errors.required">Department Name is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code">Department Code</label>
                            <input type="text" class="form-control" id="code" name="code" formControlName="code" placeholder="Enter Department Code">
                            <div *ngIf="f.code.touched && f.code.invalid" class="text-danger mt-2">
                                <div *ngIf="f.code.errors && f.code.errors.required">Department Code is required.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!departmentForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-xl-12">
        <app-card cardTitle="Department List" blockClass="table-border-style">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control p-3 search-form-control" placeholder="Type to search" [(ngModel)]="data">
                    </div>
                </div>
                <div class="col-lg-4 select-box-bg">
                    Department per Page:
                    <select (change)="handlePageSizeChange($event)" class="select-box-tophead">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Department</th>
                            <th>Department Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dept of departmentList | filter: data | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{dept.name}}</td>
                            <td>{{dept.code}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center"></pagination-controls>
            </div>
        </app-card>
    </div>
</div>